@import url('https://fonts.googleapis.com/css?family=Pacifico:400,500');
@import url('https://fonts.googleapis.com/css?family=Martel:400,500');
body{
  background-color:brown;
  color:brown;
  font-family:sans-serif;
  padding:20px;
}
#quote-box{
  background-color:white;
  width:700px;
}
.quote-text{
  font-size:30px;
  margin:30px;
  padding:25px 10px;
}
.author{
 font-size:20px;
  float:right;
  display:block;
  margin-bottom:20px;
  margin-right:30px;
}
.buttons{
  margin:110px 15px;
  padding-bottom:20px;
  text-align: left;
  color: #c5b206;
}
.btn-primary{
  font-size:25px;
  width:50px;
}
.new-quote{
  background-color:brown;
  border:none;
  width:110px;
  color:white;
  border-radius:9px;
  padding:10px;
  font-size:17px;
  float:right;
  margin-right:10px;
  margin-bottom:5px;
  cursor:pointer; 
}